<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ISQA_1 - Metric/Imp Converter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/public/style.css">
  </head>
  <body>
    <div class="container">
      <h1>InfoSec QA Challenge 1</h1>
      <h3>Metric-Imperial Converter</h3>
      <div class="row">
        <div class="col-md-6 m-auto">
          <h3>Usage</h3>
          <p>Uses an API endpoint to take in user input <br>
             and return result of conversion from metric <br>
             to Imperial or vice versa.
          </p>
          <ul>
            <li>gallons to liters and vice versa</li>
            <li>miles to kilometers and vice versa</li>
            <li>pounds to kilograms and vice versa</li>
          </ul>
          <p>Example: {this site URL}/api/convert?input=5.3gal</p>
        </div>
        <div class="col-md-6 m-auto">
         <h3>Quick Entry</h3>
         <p>Enter numerical quantity and units to be <br>
            converted. Only one decimal and one fraction <br>
            allowed. Example input: <code>5.3gal</code>
         </p>
         <form id="convertForm" class="border">
           <input type="text" id="convertField" name="input" placeholder="5.3gal" style="width: 200px">
           <input id="convert" type="submit" value='Convert!' class="btn btn-primary mt-2" style="width: 200px">
         </form>
         <p id='result'></p>
         <code id='jsonResult'></code>
        </div>
      </div>
    </div>
    <hr style='margin: 50px; margin-top: 200px'>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script>
      $(function() {
        $('#convertForm').submit(function(event) {
          event.preventDefault();
          $.ajax({
            url: '/api/convert',
            type: 'get',
            data: $('#convertForm').serialize(),
            success: function(data) {
              $('#result').text(data.string || data);
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
        });
      });
   </script>






  </body>
</html>
